[user]
	name = lhy1024
	email = admin@liudos.us
[alias]
    st = status
    ci = commit
    co = checkout
    br = branch
    cp = cherry-pick
	d = difftool
[push]
	default = simple
	followTags = true
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[remote "origin"]
	proxy = 
[core]
	autocrlf = input
	fileMode = false
[https]
	proxy = http://172.17.224.1:7890
[http]
	proxy = 
